.slider {
    padding: 2rem;
overflow: hidden;
    width: 45vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    
    .border-top {
        width: 20%;
        height: 0.5rem;
        background-color: #e66226;
        position: absolute;
        top: 27rem;
        left: 7.5rem;
    }
    .border-left {
        width: 15%;
        height: 0.5rem;
        background-color: #e66226;
        position: absolute;
        top: 27rem;
        left: 7.5rem;

        transform: rotate(90deg);
        transform-origin: left top;
    }

    .border-bottom {
        width: 20%;
        height: 0.5rem;
        background-color: #e66226;
        position: absolute;
        top: 63rem;
        left: 8rem;
    }
    .border-right {
        width: 15%;
        height: 0.5rem;
        background-color: #e66226;
        position: absolute;
        top: 53rem;
        left: 8.5rem;
        transform: rotate(90deg);
        transform-origin: left top;
    }

    div {
        width: 30rem;
        height: 30rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .img-1 {
        position: absolute;
        transform: rotate(30deg);
        transform-origin: 100%;
    }
    .img-2 {
        position: absolute;
        top: 30rem;
        right: 26rem;
    }
    .img-3 {
        position: absolute;
        top: 58rem;
        right: 20rem;
        transform: rotate(-23deg);
        transform-origin: 100%;
    }
}

@media screen and (max-width: 1500px) {
    .slider {
        .border-top {
            top: 27rem;
            left: 13.5rem;
        }
        .border-left {
            top: 27rem;
            left: 13.5rem;
        }

        .border-bottom {
            top: 57.5rem;
            left: 13rem;
        }
        .border-right {
            top: 48rem;
            left: 13.5rem;
        }

        div {
            width: 25rem;
            height: 25rem;
        }

        .img-1 {
            top: 7rem;
            right: 15rem;
        }
        .img-2 {
            top: 30rem;
            right: 21rem;
        }
        .img-3 {
            top: 54rem;
            right: 16rem;
        }
    }
}
@media screen and (max-width: 1400px) {
    .slider {
        .border-top {
            left: 8.5rem;
        }
        .border-left {
            left: 8.5rem;
        }

        .border-bottom {
            top: 57rem;
            left: 8.1rem;
        }
        .border-right {
            left: 8.5rem;
        }
    }
}
@media screen and (max-width: 1300px) {
    .slider {
        .border-top {
            left: 5.5rem;
        }
        .border-left {
            left: 5.5rem;
        }

        .border-bottom {
            top: 56rem;
            left: 5.1rem;
        }
        .border-right {
            left: 5.5rem;
        }
    }
}
