.slider {
    width: 45vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;


    div {
        width: 30rem;
        height: 30rem;

        position: absolute;

        cursor: pointer;

        transition: 1s ease-in-out;

        img {
            width: 100%;
        }
    }

    .prev-img {
        top: -13rem;

        transform: rotate(12deg);
        transform-origin: right bottom;

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
    }

    .active-img {
        top: 17rem;
    }

    .next-img {
        top: 50rem;

        transform: rotate(-12deg);
        transform-origin: top right;

        clip-path: polygon(0 22%, 100% 0, 100% 100%, 0 100%);
    }
    .after-next-img {
        top: 80rem;

     
    }

    .border {
        width: 15rem;
        height: 0.4rem;

        background-color: #e66226;
        position: absolute;
    }

    .border-top {
        top: -2rem;
        left: -1rem;
    }

    .border-left {
        top: -2rem;
        left: -1rem;

        transform: rotate(90deg);
        transform-origin: left top;
    }

    .border-bottom {
        bottom: -5rem;
        left: -1rem;
    }

    .border-right {
        bottom: -5rem;
        left: -1rem;

        transform: rotate(-90deg);
        transform-origin: left bottom;
    }
}

@media screen and (max-width: 1200px) {
    .slider {
        div {
            width: 25rem;
            height: 25rem;

            img {
                width: 100%;
            }
        }

        .prev-img {
            top: -8rem;
        }

        .active-img {
            top: 17rem;
        }

        .next-img {
            top: 45rem;
        }

        .border {
            width: 11rem;
            height: 0.4rem;
        }
    }
}
@media screen and (max-width: 1000px) {
    .slider {
        div {
            width: 20rem;
            height: 20rem;

            img {
                width: 100%;
            }
        }

        .prev-img {
            top: -3rem;
        }

        .active-img {
            top: 17rem;
        }

        .next-img {
            top: 39rem;
        }

        .border {
            width: 9rem;
            height: 0.3rem;
        }
    }
}
