.blendedEducation {
    width: 45vw;
    height: 100vh;

    // background-color: hotpink;

    padding: 2rem;

    .content {
        margin-top: 12rem;
        margin-left: 2rem;

        h1 {
            margin-bottom: 2.5rem;
            color: grey;
            span {
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-left: 1rem;
            }
        }
        .active {
            color: #e66226;
        }
    }
}

@media screen and (max-width: 1200px) {
    .blendedEducation {
        .content {
            h1 {
                span {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .blendedEducation {
        .content {
            h1 {
                span {
                    font-size: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .blendedEducation {
        padding: 0rem;

        .content {
            margin-top: 12rem;
            margin-left: 1rem;

            h1 {
                span {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .blendedEducation {
        padding: 0rem;

        .content {
            margin-top: 12rem;
            margin-left: 1rem;

            h1 {
                margin-bottom: 2rem;

                span {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .blendedEducation {
        padding: 0rem;

        .content {
            margin-top: 12rem;
            margin-left: 1rem;

            h1 {
                margin-bottom: 1rem;

                .icon {
                    font-size: 0.6rem;
                }

                span {
                    font-size: 0.6rem;
                }
            }
        }
    }
}
