.blenderCarousel {
    width: 45vw;
    height: 100vh;

    padding: 2rem;
    background-color: #e66226;

    display: flex;
    flex-direction: column;
    align-items: center;

    // overflow-y: scroll;

    h1 {
        color: rgba(255, 255, 255, 0.63);

        font-size: 2.7rem;
        font-weight: 900;
        text-transform: uppercase;

        margin-bottom: 3rem;

        
    }

    .swiper-container,
    .swiper-wrapper {
        width: 40rem;
        height: 20rem;

        .border-top {
            width: 50%;
            height: 0.5rem;
            background-color: white;
            position: relative;
            top: -2rem;
            left: -2.5rem;
        }
        .border-left {
            width: 50%;
            height: 0.5rem;
            background-color: white;
            position: relative;
            top: -2.4rem;
            left: -2rem;

            transform: rotate(90deg);
            transform-origin: left top;
        }

        .border-bottom {
            width: 50%;
            height: 0.5rem;
            background-color: white;
            position: relative;
            bottom: -40rem;
            right: -23rem;
        }
        .border-right {
            width: 50%;
            height: 0.5rem;
            background-color: white;
            position: relative;
            bottom: -40rem;
            right: -43rem;
            transform: rotate(-90deg);
            transform-origin: left top;
        }

        .swiper-slide {
            text-align: justify;
            font-size: 1.8rem;
            background: #fff;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 6rem;
            padding: 5rem;
            padding-top: 8rem;

            position: relative;

            cursor: pointer;

            .icon {
                position: absolute;
                top: 2rem;
                left: 8rem;

                font-size: 4rem;
                color: #e66226;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .blenderCarousel {
        h1 {
            font-size: 2.5rem;

            margin-bottom: 5.5rem;
        }

        .swiper-container,
        .swiper-wrapper {
            width: 30rem;

            .border-bottom {
                bottom: -36rem;
                right: -18rem;
            }
            .border-right {
                bottom: -36rem;
                right: -33rem;
            }

            .swiper-slide {
                font-size: 1.5rem;

                margin-bottom: 7rem;
                padding: 4rem;
                padding-top: 8rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .blenderCarousel {
        h1 {
            font-size: 2rem;

            margin-bottom: 5.5rem;
        }

        .swiper-container,
        .swiper-wrapper {
            width: 25rem;

            .border-bottom {
                right: -16rem;
                bottom: -32rem;
            }
            .border-right {
                bottom: -32rem;
                right: -28rem;
            }

            .swiper-slide {
                font-size: 1.3rem;

                margin-bottom: 12rem;
                padding: 3rem;
                padding-top: 8rem;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .blenderCarousel {
        overflow: hidden;
        h1 {
            font-size: 1.5rem;

            margin-bottom: 5.5rem;
        }

        .swiper-container,
        .swiper-wrapper {
            width: 20rem;

            .border-bottom {
                right: -12rem;
                bottom: -32rem;
            }
            .border-right {
                bottom: -32rem;
                right: -22rem;
            }

            .swiper-slide {
                font-size: 1.1rem;

                margin-bottom: 12rem;
                padding: 3rem;
                padding-top: 8rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .blenderCarousel {
        overflow: hidden;
        h1 {
            text-align: center;
            font-size: 1.5rem;

            margin-bottom: 5.5rem;
        }

        .swiper-container,
        .swiper-wrapper {
            width: 10rem;

            .border-top {
                top: 0rem;
                left: -1.5rem;
            }
            .border-left {
                top: -0.4rem;
                left: -1.1rem;
            }

            .border-bottom {
                right: -6rem;
                bottom: -26rem;
            }
            .border-right {
                bottom: -26rem;
                right: -11rem;
            }

            .swiper-slide {
                font-size: 0.8rem;

                margin-bottom: 12rem;
                padding: 1rem;
                padding-top: 6rem;
                .icon {
                    left: 2rem;

                    font-size: 2rem;
                    color: #e66226;
                }
            }
        }
    }
}
